<?xml version="1.0"?>
<robot name="branch">
  <deformable name="branch">
    <inertial>
      <mass value="0.05" />
      <inertia ixx="0.0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <collision_margin value="0.006"/>
    <repulsion_stiffness value="800.0"/>
    <friction value= "0.2"/>
    <neohookean mu= "60" lambda= "200" damping= "0.01" />
    <visual filename="test-branch-fine.obj"/>
  </deformable>
</robot>