<?xml version="1.0" ?>
<robot name="test_tree">
<!--  <link concave="yes" name="baseLink">-->
  <link concave="no" name="baseLink">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="10.0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="trellis-model-rect.obj" scale="1 1 1"/>
      </geometry>
       <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision concave="no">
<!--    <collision concave="yes">-->
      <origin rpy="0 0 0" xyz="0 0 0"/>
     <geometry>
				<mesh filename="trellis-model-rect.obj" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_target_1" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 0.2 0.8"/>
    <parent link="baseLink"/>
    <child link="target_1"/>
  </joint>
    <link concave="no" name="target_1">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
          <sphere center="0.0 0.0 0.0" radius="0.01" />
      </geometry>
        <material name="target_color">
        <color rgba="0 1 0 0"/>
      </material>
    </visual>

    <visual>
      <origin rpy="0 0 0" xyz="0 0.04 0"/>
      <geometry>
          <cylinder radius="0.0025" length="0.15" />
      </geometry>
        <material name="branch_color">
        <color rgba="0 0 1 0.5"/>
      </material>
    </visual>

    <visual>
          <origin rpy="1.571 0 0" xyz="0 -0.01 0"/>
          <geometry>
              <cylinder radius="0.0025" length="0.12" />
          </geometry>
            <material name="branch_color">
            <color rgba="0 0 1 0.5"/>
          </material>
    </visual>

    <collision concave="no">
        <origin rpy="1.571 0 0" xyz="0 -0.01 0"/>
            <geometry>
              <cylinder radius="0.0025" length="0.12" />
            </geometry>
    </collision>
    </link>

    <joint name="world_target_2" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 -0.2 0.75"/>
    <parent link="baseLink"/>
    <child link="target_2"/>
  </joint>
    <link concave="no" name="target_2">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
          <sphere center="0.0 0.0 0.0" radius="0.01" />
      </geometry>
        <material name="target_color">
        <color rgba="0 1 0 0"/>
      </material>
    </visual>

    <visual>
      <origin rpy="0 0 0" xyz="0 -0.04 0"/>
      <geometry>
          <cylinder radius="0.0025" length="0.15" />
      </geometry>
        <material name="branch_color">
        <color rgba="0 0 1 0.5"/>
      </material>
    </visual>

    <visual>
          <origin rpy="1.571 0 0" xyz="0 0.01 0"/>
          <geometry>
              <cylinder radius="0.0025" length="0.12" />
          </geometry>
            <material name="branch_color">
            <color rgba="0 0 1 0.5"/>
          </material>
    </visual>

    <collision concave="no">
        <origin rpy="1.571 0 0" xyz="0 0.01 0"/>
            <geometry>
              <cylinder radius="0.0025" length="0.12" />
            </geometry>
    </collision>

    </link>
</robot>

